body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active, .img-link) {
    background-color: #111;
}

.active {
    background-color: #18abad;
}

.float-right {
    float: right;
}

.navbar-icon {
    width: 1.8rem;
    border: 3px solid #18abad;
    border-radius: 100%;
}


.img-link {
    padding: 7px 20px 0 7px;
}

.img-link:hover .navbar-icon {
    border: 3px solid #ffff;
    border-radius: 100%;
}

.dropdown-content {
    position: fixed;
    background: #18abad;
    width: 9.5rem;
    right: 0;
    top: 2.9rem;
    display: none;
}


.profile:hover .dropdown-content {
    display: block;
}

.sidenav {
    height: 100%;
    width: 16rem;
    position: fixed;
    z-index: 1;
    top: 2.9rem;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: center;
    padding: 2rem;
}

.sidenav a:hover:not(.searchbar) {
    background-color: #18abad;
    color: #ffff;
    text-shadow: #18abad;
}

.main {
    margin-left: 16rem;
    font-size: 28px;
    padding: 5rem 2rem;
}

.search {
    position: fixed;
    left: 1rem;
    border-radius: 10px;
    width: 13rem;
    height: 2rem;
    top: 5rem;
    text-align: center;
    font-style: italic;
    border: solid 3px #18abad;
    background: #000;
    caret-color: #18abad;
    color: #18abad;
}